body {
	background-color: #222121
}

.beermug {
	text-align: center;
}


.beermug img {
	width: 15%;
	padding-top: 75px;
}


.dreambeer {
	font-family: courier;
	color: #f28500;
	text-align: center;
	font-size: 27px;
	letter-spacing: -1px;
}

.envelope {
	text-align: center;
}

.envelope img {
	width: 15%;

}


.venue {
	font-family: arial;
	color: white;
	width: 900px;
	font-weight: bold;

}

.address {
	font-family: arial;
	color: white;
	width: 900px;

}

.city {
	font-family: arial;
	color: white;
	width: 900px;
	padding-left: 35px;
}












